
#################################################################
#  a binary write and readback param                              								#
#################################################################
record(busy, "$(P)$(M)$(param)")
{
    field(PINI,  "$(pini)")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(port_drvr_string)")
    field(SCAN, "I/O Intr")
}
