record(bo, "$(clsdev):calibDone")
{
        field(DESC, "Calibration completed")
        field(VAL,  "0")
        field(ZNAM, "NOT CALIBRATED")
        field(ONAM, "CALIBRATED")
        field(ZSV,  "MAJOR")

        field(PINI, "1")
}

record(bo, "$(clsdev):calibRun")
{
        field(DESC, "Calibration completed")
        field(VAL,  "0")
        field(ZNAM, "CALIBRAT STOPPED")
        field(ONAM, "CALIBRATION RUNNING")
        field(ZSV,  "MAJOR")
}


record(stringin, "$(clsdev):log")
{
	field(DESC, "msg logging")
}

record(ao, "$(clsdev):calibFirstMv")
{
        field(DESC, "Calibration first Move")
        field(VAL,  "$(calibMove)")
}

record(ao, "$(clsdev):calibPosn")
{
        field(DESC, "Calibration first Move")
        field(VAL,  "$(calibPosn)")
}
record(ao, "$(clsdev):finalPosn")
{
        field(DESC, "Calibration first Move")
        field(VAL,  "$(finalPosn)")
}
record(bo, "$(clsdev):calibDir")
{
		field(DESC, "Calibration home direction")
		field(VAL,  "$(calibDir)")
}

