record(waveform, "$(P)$(param)")
{
   #field(PINI, "1")
   field(DTYP, "asynOctetWrite")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(port_drvr_string)")
   field(NELM, "$(nelm)")
   field(FTVL, "CHAR")
   field(TPRO, "1")
}

record(waveform, "$(P)$(param)_RBV")
{
   field(DTYP, "asynOctetRead")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(port_drvr_string)")
   field(NELM, "$(nelm)")
   field(FTVL, "CHAR")
   field(SCAN, "I/O Intr")
   field(TPRO, "1")
}


