###################################################################
# 
# add these lines to the driver header file
# 
# #define P_$(param)String   	 		"$(port_drvr_string)"  			/* $(param_type),    r/w */
# int P_$(param);
#
# add these lines to the driver source file in constructor
#
#	createParam(P_$(param)String,          asynParamInt32,       &P_$(param));
#	setIntegerParam (P_$(param),       0);
#
#################################################################

#################################################################
#  a binary write and readback param                              								#
#################################################################
record(bo, "$(P)$(param)")
{
    field(PINI,  "$(pini)")
    field(DTYP, "$(param_type)")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(port_drvr_string)")
    field(ZNAM, "$(znam)")
    field(ONAM, "$(onam)")
    field(HIGH, "$(high)")
}
